.spinner svg {
  width: 50px;
  height: 50px;
  stroke: #fff;
  fill: #fff; }

.loading-animation, .loading-animation-small {
  background-color: transparent;
  border: 5px solid #fff;
  opacity: .9;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear; }

.loading-animation-small {
  width: 20px;
  height: 20px; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }

@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(-360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(-360deg); } }

body {
  color: #333; }

.bar .icon {
  font-size: 20px; }

.card-link {
  color: #333;
  text-decoration: none; }
  .card-link .card {
    position: relative; }
    .card-link .card .left {
      width: 50px;
      margin-right: 10px;
      float: left; }
    .card-link .card .icon {
      font-size: 50px; }
    .card-link .card h3 {
      padding: 0;
      margin: 0 0 6px 0; }

.item-sub {
  font-size: 0.8em; }

.progress-bar {
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0; }
  .progress-bar .progress {
    height: 10px;
    background: rgba(245, 108, 40, 0.9);
    min-width: 1%;
    width: 1%; }

.background-image {
  background-position: center center;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px); }
