<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-controller="SpotifyRootController">

    <ion-tab title="Playlists" icon-off="ion-ios-musical-notes" icon-on="ion-ios-musical-notes" href="#/spotify/playlists">
        <ion-nav-view name="spotify-tracks"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Current Tracklist" icon-off="ion-ios-musical-notes" icon-on="ion-ios-musical-notes" href="#/spotify/tracklist">
    <ion-nav-view name="spotify-tracklist"></ion-nav-view>
    </ion-tab>

</ion-tabs>