<ion-view view-title="Now Playing">
    <div class="background-image" style="background: url('{{ nowPlaying.album.artwork }}');"></div>
    <ion-content class="padding">

        <!--<div class="album-artwork">-->
            <!--<img ng-src="{{ nowPlaying.album.artwork }}" />-->
        <!--</div>-->

        <h1>{{ nowPlaying.name }}</h1>
        <h2>{{ nowPlaying.artistsString }}</h2>
        <h2>{{ nowPlaying.album.name }}</h2>

        <div class="progress-bar">
            <div id=track-progress" class="progress" style="width: {{ nowPlaying.timePercent }}%;"></div>
        </div>

        <div class="music-controls">
            <a ng-click="resume()">Resume</a>
            <a ng-click="pause()">Pause</a>
            <a ng-click="stop()">Stop</a>
        </div>

    </ion-content>
</ion-view>
