<ion-view>
    <ion-nav-title>{{ playlist.name }}</ion-nav-title>

    <ion-content>

        <ion-list>
            <ion-item href="#/spotify/play/{{ track.playlistUri }}/{{ track.uri }}" ng-repeat="track in playlist.tracks track by $index">
                <div class="item-title">{{ track.name }}</div>
                <div class="item-sub">{{ track.artistsString }}</div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
