body {
  color: $color-text;
}

.bar {
  .icon {
    font-size: 20px;
  }
}

.card-link {
  color: $color-text;
  text-decoration: none;

  .card {
    position: relative;

    .left {
      width: $layout-card-right;
      margin-right: $layout-card-right-margin;
      float: left;
    }

    .content {

    }

    .icon {
      font-size: 50px;
    }

    h3 {
      padding: 0;
      margin: 0 0 6px 0;
    }
  }
}

.item-sub {
  font-size: 0.8em;
}

.progress-bar {
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;

  .progress {
    height: 10px;
    background: $color-primary;
    min-width: 1%;
    width: 1%;
  }
}

.background-image {
//  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  background-position: center center;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  @include background-size(cover);
  @include blur(15px);
}