$color-primary: rgba(245, 108, 40, 0.90);
$color-primary-light: rgba(255, 156, 73, 0.98);
$color-primary-dark: rgba(230, 115, 52, 0.98);

$color-text: #333;

$color-spotify: rgb(132, 189, 0);
$color-spotify-tweak: rgb(97, 143, 9);
$color-spotify-transparent: rgba(132, 189, 0, 0.08);
$color-facebook: #3b5999;
$color-facebook-tweak: #294699;
$color-facebook-transparent: rgba(59, 89, 153, 0.08);
$color-twitter: #39b3f6;
$color-twitter-tweak: #219ff6;
$color-twitter-transparent: rgba(57, 179, 246, 0.08);

$layout-card-right: 50px;
$layout-card-right-margin: 10px;