<ion-view view-title="Kontrol">
    <ion-content class="padding">

        <a href="#/spotify/playlists" class="card-link">
            <div class="card padding">
                <div class="left">
                    <i class="icon fa fa-spotify"></i>
                </div>
                <div class="content">
                    <h3>Spotify</h3>
                    <p><strong>Now Playing:</strong> Take Five - New York Jazz Lounge</p>
                </div>
            </div>
        </a>

    </ion-content>
</ion-view>
